﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.gif" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/assets/style")
        @Scripts.Render("~/assets/header")
    </head>
    <body>
        <input type="hidden" id="@ViewBag.PageName"/>
        <header>
            <h1>MoMoney</h1>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                </ul>
            </nav>
        </header>
        <div id="body">
            <section>
                <h2>@ViewBag.Title</h2>
                @RenderBody()
            </section>
        </div>
        <footer>
        </footer>
        @Scripts.Render("~/assets/footer")
        @RenderSection("scripts", false)
    </body>
</html>