﻿@model List<MoMoney.Models.View.InvoiceViewModel>
@{
    ViewBag.Title = "Invoices";
    ViewBag.PageName = "CreateInvoice";
}

<div>@Html.ActionLink("Add Invoice", "Create", "Invoices")</div>

@foreach(var item in Model)
{
    <div>
        @item.Invoice.Number 
        @Html.ActionLink("View", "Get", "Invoices", new { id = item.Invoice.Id }, null) 
        @Html.ActionLink("Edit", "Edit", "Invoices", new { id = item.Invoice.Id }, null) 
        @Html.ActionLink("Delete", "Delete", "Invoices", new { id = item.Invoice.Id }, null)
    </div>
}
