﻿@model MoMoney.Models.View.ClientViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Client.Id)
    <ul>
        <li>
            @Html.LabelFor(c => c.Client.Name)
            @Html.EditorFor(c => c.Client.Name)
            @Html.ValidationMessageFor(c => c.Client.Name)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.BusinessId)
            @Html.EditorFor(c => c.Client.BusinessId)
            @Html.ValidationMessageFor(c => c.Client.BusinessId)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Email)
            @Html.EditorFor(c => c.Client.Email)
            @Html.ValidationMessageFor(c => c.Client.Email)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Phone)
            @Html.EditorFor(c => c.Client.Phone)
            @Html.ValidationMessageFor(c => c.Client.Phone)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Website)
            @Html.EditorFor(c => c.Client.Website)
            @Html.ValidationMessageFor(c => c.Client.Website)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.StreetOne)
            @Html.EditorFor(c => c.Client.Address.StreetOne)
            @Html.ValidationMessageFor(c => c.Client.Address.StreetOne)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.StreetTwo)
            @Html.EditorFor(c => c.Client.Address.StreetTwo)
            @Html.ValidationMessageFor(c => c.Client.Address.StreetTwo)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.Suburb)
            @Html.EditorFor(c => c.Client.Address.Suburb)
            @Html.ValidationMessageFor(c => c.Client.Address.Suburb)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.State)
            @Html.EditorFor(c => c.Client.Address.State)
            @Html.ValidationMessageFor(c => c.Client.Address.State)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.Country)
            @Html.EditorFor(c => c.Client.Address.Country)
            @Html.ValidationMessageFor(c => c.Client.Address.Country)
        </li>
        <li>
            @Html.LabelFor(c => c.Client.Address.Postcode)
            @Html.EditorFor(c => c.Client.Address.Postcode)
            @Html.ValidationMessageFor(c => c.Client.Address.Postcode)
        </li>
        <li>
            <input type="submit" value="Save" />
        </li>
    </ul>
}