﻿@model MoMoney.Models.View.InvoiceViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(i => i.Invoice.Id, new { id = "InvoiceId" })
    @Html.HiddenFor(i => i.InvoiceItems)

    <ul>
        <li>
            @Html.LabelFor(i => i.Invoice.ClientId)
            @Html.DropDownListFor(i => i.Invoice.ClientId, Model.ClientDropDowns)
            @Html.ValidationMessageFor(i => i.Invoice.ClientId)
        </li>
        <li>
            @Html.LabelFor(i => i.Invoice.Number)
            @Html.TextBoxFor(i => i.Invoice.Number, new { placeholder = "Enter invoice number" } )
            @Html.ValidationMessageFor(i => i.Invoice.Number)
        </li>
        <li>
            @Html.LabelFor(i => i.Invoice.Title)
            @Html.TextBoxFor(i => i.Invoice.Title, new { placeholder = "Enter invoice title" })
            @Html.ValidationMessageFor(i => i.Invoice.Title)
        </li>
        <li>
            @Html.LabelFor(i => i.Invoice.Description)
            @Html.TextBoxFor(i => i.Invoice.Description, new { placeholder = "Enter invoice description" })
            @Html.ValidationMessageFor(i => i.Invoice.Description)
        </li>
        <li>
            @Html.LabelFor(i => i.Invoice.DateDue)
            @Html.TextBoxFor(i => i.Invoice.DateDue, Model.Invoice.DateDue.ToString("dd MMMM yyyy"))
            @Html.ValidationMessageFor(i => i.Invoice.DateDue)
        </li>

        <li>
            <ul class="invoice-item">
                <li>
                    <input type="text" class="invoice-item-name" placeholder="Name" />
                </li>
                <li>
                    <input type="text" class="invoice-item-description" placeholder="Description" />
                </li>
                <li>
                    <input type="text" class="invoice-item-cost" placeholder="Cost" />
                </li>
                <li>
                    <input type="text" class="invoice-item-quantity" placeholder="Quantity" />
                </li>
                <li>
                    <a class="create-invoice-item btn">Create</a>
                </li>
            </ul>
        </li>
        <li id="InvoiceItemsContainer"></li>
        <li>
            Total: $<span class="invoice-total"></span>
        </li>
        <li>
            <input type="submit" value="Save" />
        </li>
    </ul>
}