﻿<ul class="invoice-item">
    <li>
        <input type="text" class="invoice-item-name" value="{{Name}}" />
    </li>
    <li>
        <input type="text" class="invoice-item-description" value="{{Description}}" />
    </li>
    <li>
        <input type="text" class="invoice-item-cost" value="{{Cost}}" />
    </li>
    <li>
        <input type="text" class="invoice-item-quantity" value="{{Quantity}}" />
    </li>
    <li>
        <input type="hidden" class="invoice-item-id" value="{{Id}}" />
        <a class="delete-invoice-item btn" data-id="{{Id}}">Delete</a>
    </li>
</ul>