﻿@model List<MoMoney.Models.View.ClientViewModel>
@{
    ViewBag.Title = "Clients";
}

<p>@Html.ActionLink("Add client", "Create", "Clients")</p>

@foreach(var item in Model)
{
    <p>
        @item.Client.Name 
        @Html.ActionLink("Edit", "Edit", "Clients", new { id = item.Client.Id }, null) 
        @Html.ActionLink("Delete", "Delete", "Clients", new { id = item.Client.Id }, null)
    </p>
}